/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        mot: behavior_mo_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TAP";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N9>, <&kp LBKT>;
        };
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N0>, <&kp RBKT>;
        };
        td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp MINUS>, <&kp KP_PLUS>;
        };
        td3: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_3";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp HOME>, <&kp PG_UP>;
        };
        td4: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_4";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp END>, <&kp PG_DN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  `    |  1       |  2           |  3           |  4         |  5         |                   |  6        |  7          |  8            |  td 9 [     |  td 0 ]     | td - +|
// |  DEL  |  Q       |  W           |  E           |  R         |  T         |                   |  Y        |  U          |  I            |  O          |   P         | BKSPC |
// |  CAPS |  mot 2 A |  mt LCTRL S  |  mt LSHIFT D |  mt LALT F |  mt LGUI G |                   |  mt ESC H |  mt LALT J  |  mt LSHIFT K  |  mt LCTRL L |   mot 1 ;   |   '   |
// | SHIFT |  Z       |  X           |  C           |  V         |  B         |  MUTE  |  |       |  N        |  M          |  ,            |  .          |   /         | SHIFT |
//                    | GUI          | ALT          | CTRL       | SPACE      |  BKSPC |  | TAB   | ENTER     |  LANG1      |  LANG2        | GUI         |
            bindings = <
&kp GRAVE &kp N1    &kp N2       &kp N3       &kp N4      &kp N5                           &kp N6     &kp N7       &kp N8        &td0          &td1        &td2
&kp DEL   &kp Q     &kp W        &kp E        &kp R       &kp T                            &kp Y      &kp U        &kp I         &kp O         &kp P       &kp BSPC
&kp CLCK  &mot 2 A  &mt LCTRL S  &mt LSHFT D  &mt LALT F  &mt LGUI G                       &mt ESC H  &mt LALT J   &mt LSHFT K   &mt LCTRL L   &mot 1 SEMI &kp SQT
&kp LSHFT &kp Z     &kp X        &kp C        &kp V       &kp B       &kp C_MUTE &none     &kp N      &kp M        &kp COMMA     &kp DOT       &kp FSLH    &kp RSHFT
                    &kp LGUI     &kp LALT     &kp LCTRL   &kp SPACE   &kp BSPC   &kp TAB   &kp RET    &kp RCTRL    &kp RALT      &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
// ------------------------------------------------------------------------------------------------------------
// |BTCLR| BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
// |     |      |      |       |       |      |      |  |      |      |      |       |      |       |       |
// |     |      |      |       |       |      |      |  |      |      |      |       |      |       |       |
// |     |      |      |       |       |      |      |  |      |      |      |       |      |       |       |
//              |      |       |       |      |      |  |      |      |      |       |      |
            bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                &trans    &trans   &trans    &trans         &trans    &trans
&trans     &trans       &trans       &trans       &trans       &trans                      &trans    &trans   &trans    &trans         &trans    &trans
&trans     &trans       &trans       &trans       &trans       &trans                      &trans    &trans   &trans    &trans         &trans    &trans
&trans     &trans       &trans       &trans       &trans       &trans    &trans   &trans   &trans    &trans   &trans    &trans         &trans    &trans
                        &trans       &trans       &trans       &trans    &trans   &trans   &trans    &trans   &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
// TODO: Some binds are waiting for shifted keycode support.
// ------------------------------------------------------------------------------------------------------------
// |    |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7        |  F8   |  F9         |  F10  |  F11  |
// |    |     |     |      |      |      |                   |      |td HOME PGUP|   ^   |td END PGDN  |       |  F12  |
// |    |     |LCTRL|LSHIFT| LALT |      |                   |      |   <-       |   v   |  ->         |       |       |
// |    |     |     |      |      |      |        |  |       |      |            |       |             |       |       |
//            |     |      |      |      |        |  |       |      |            |       |             |
            bindings = <
&trans    &kp F1    &kp F2    &kp F3      &kp F4    &kp F5                    &kp F6    &kp F7     &kp F8    &kp F9         &kp F10   &kp F11
&trans    &trans    &trans    &trans      &trans    &trans                    &trans    &td3       &kp UP    &td4           &trans    &kp F12
&trans    &trans    &kp LCTRL &kp LSHFT   &kp LALT  &trans                    &trans    &kp LEFT   &kp DOWN  &kp RIGHT      &trans    &trans
&trans    &trans    &trans    &trans      &trans    &trans  &trans   &trans   &trans    &trans     &trans    &trans         &trans    &trans
                    &trans    &trans      &trans    &trans  &trans   &trans   &trans    &trans     &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
